*.njsproj
*.ntvs*
*.o
*.sln
*.suo
*.sw?
.DS_Store
.\#*
.alt
.env.*.local
.env.local
.idea
.o
.terraform*
.terraform/
.vscode
/dist
\#*\#
__pycache__
assets/
build/
node_modules
npm-debug.log*
pnpm-debug.log*
terraform.tfstate*
yarn-debug.log*
yarn-error.log*
#private
.secrets.sh
.texterrc
.bin/
.mutt/
.bingrc
*.gz
