//#include "/home/erra/git/xthemes/base16-ocean-256.Xresources"
//#include "/home/erra/git/xthemes/base16-grayscale-dark-256.Xresources"
//#include "/home/erra/git/xthemes/base16-atelier-lakeside-256.Xresources"
#include "/home/erra/git/xthemes/light/PaperColor.Xresources"

URxvt.loginShell: true
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.visualBell: false
URxvt.fading: 15
URxvt.cursorBlink: true
URxvt.perl-ext-common: selection-to-clipboard,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: true
URxvt.saveLines: 0
// URxvt.underlineColor: yellow
URxvt.matcher.button: C-1

// ✕

URxvt.font: xft:Hermit:size=8:style=Regular,xft:Noto Sans Symbols 2:size=8:style=Regular,xft:Noto Sans Mono CJK SC:size=8:style=Regular,xft:Noto Color Emoji:size=8:style=Regular
URxvt.italic: xft:Hermit:size=8:style=Italic,xft:Noto Sans Symbols 2:size=8:style=Italic,xft:Noto Sans Mono CJK SC:size=8:style=Italic,xft:Noto Color Emoji:size=8:style=Italic
URxvt.bold: xft:Hermit:size=8:style=Bold,xft:Noto Sans Symbols 2:size=8:style=Bold,xft:Noto Sans Mono CJK SC:size=8:style=Bold,xft:Noto Color Emoji:size=8:style=Bold
URxvt.boldItalic: xft:Hermit:size=8:style=BoldItalic,xft:Noto Sans Symbols 2:size=8:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=8:style=BoldItalic,xft:Noto Color Emoji:size=8:style=BoldItalic
URxvt.keysym.M-C-1: command:\033]710;xft:Hermit:size=8:style=Regular,xft:Noto Sans Symbols 2:size=8:style=Regular,xft:Noto Sans Mono CJK SC:size=8:style=Regular,xft:Noto Color Emoji:size=8:style=Regular\007\033]711;xft:Hermit:size=8:style=Italic,xft:Noto Sans Symbols 2:size=8:style=Italic,xft:Noto Sans Mono CJK SC:size=8:style=Italic,xft:Noto Color Emoji:size=8:style=Italic\007\033]712;xft:Hermit:size=8:style=Bold,xft:Noto Sans Symbols 2:size=8:style=Bold,xft:Noto Sans Mono CJK SC:size=8:style=Bold,xft:Noto Color Emoji:size=8:style=Bold\007\033]713;xft:Hermit:size=8:style=BoldItalic,xft:Noto Sans Symbols 2:size=8:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=8:style=BoldItalic,xft:Noto Color Emoji:size=8:style=BoldItalic\007
URxvt.keysym.M-C-2: command:\033]710;xft:Hermit:size=10:style=Regular,xft:Noto Sans Symbols 2:size=10:style=Regular,xft:Noto Sans Mono CJK SC:size=10:style=Regular,xft:Noto Color Emoji:size=10:style=Regular\007\033]711;xft:Hermit:size=10:style=Italic,xft:Noto Sans Symbols 2:size=10:style=Italic,xft:Noto Sans Mono CJK SC:size=10:style=Italic,xft:Noto Color Emoji:size=10:style=Italic\007\033]712;xft:Hermit:size=10:style=Bold,xft:Noto Sans Symbols 2:size=10:style=Bold,xft:Noto Sans Mono CJK SC:size=10:style=Bold,xft:Noto Color Emoji:size=10:style=Bold\007\033]713;xft:Hermit:size=10:style=BoldItalic,xft:Noto Sans Symbols 2:size=10:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=10:style=BoldItalic,xft:Noto Color Emoji:size=10:style=BoldItalic\007
URxvt.keysym.M-C-3: command:\033]710;xft:Hermit:size=12:style=Regular,xft:Noto Sans Symbols 2:size=12:style=Regular,xft:Noto Sans Mono CJK SC:size=12:style=Regular,xft:Noto Color Emoji:size=12:style=Regular\007\033]711;xft:Hermit:size=12:style=Italic,xft:Noto Sans Symbols 2:size=12:style=Italic,xft:Noto Sans Mono CJK SC:size=12:style=Italic,xft:Noto Color Emoji:size=12:style=Italic\007\033]712;xft:Hermit:size=12:style=Bold,xft:Noto Sans Symbols 2:size=12:style=Bold,xft:Noto Sans Mono CJK SC:size=12:style=Bold,xft:Noto Color Emoji:size=12:style=Bold\007\033]713;xft:Hermit:size=12:style=BoldItalic,xft:Noto Sans Symbols 2:size=12:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=12:style=BoldItalic,xft:Noto Color Emoji:size=12:style=BoldItalic\007
URxvt.keysym.M-C-4: command:\033]710;xft:Hermit:size=14:style=Regular,xft:Noto Sans Symbols 2:size=14:style=Regular,xft:Noto Sans Mono CJK SC:size=14:style=Regular,xft:Noto Color Emoji:size=14:style=Regular\007\033]711;xft:Hermit:size=14:style=Italic,xft:Noto Sans Symbols 2:size=14:style=Italic,xft:Noto Sans Mono CJK SC:size=14:style=Italic,xft:Noto Color Emoji:size=14:style=Italic\007\033]712;xft:Hermit:size=14:style=Bold,xft:Noto Sans Symbols 2:size=14:style=Bold,xft:Noto Sans Mono CJK SC:size=14:style=Bold,xft:Noto Color Emoji:size=14:style=Bold\007\033]713;xft:Hermit:size=14:style=BoldItalic,xft:Noto Sans Symbols 2:size=14:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=14:style=BoldItalic,xft:Noto Color Emoji:size=14:style=BoldItalic\007
URxvt.keysym.M-C-5: command:\033]710;xft:Hermit:size=16:style=Regular,xft:Noto Sans Symbols 2:size=16:style=Regular,xft:Noto Sans Mono CJK SC:size=16:style=Regular,xft:Noto Color Emoji:size=16:style=Regular\007\033]711;xft:Hermit:size=16:style=Italic,xft:Noto Sans Symbols 2:size=16:style=Italic,xft:Noto Sans Mono CJK SC:size=16:style=Italic,xft:Noto Color Emoji:size=16:style=Italic\007\033]712;xft:Hermit:size=16:style=Bold,xft:Noto Sans Symbols 2:size=16:style=Bold,xft:Noto Sans Mono CJK SC:size=16:style=Bold,xft:Noto Color Emoji:size=16:style=Bold\007\033]713;xft:Hermit:size=16:style=BoldItalic,xft:Noto Sans Symbols 2:size=16:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=16:style=BoldItalic,xft:Noto Color Emoji:size=16:style=BoldItalic\007
URxvt.keysym.M-C-6: command:\033]710;xft:Hermit:size=18:style=Regular,xft:Noto Sans Symbols 2:size=18:style=Regular,xft:Noto Sans Mono CJK SC:size=18:style=Regular,xft:Noto Color Emoji:size=18:style=Regular\007\033]711;xft:Hermit:size=18:style=Italic,xft:Noto Sans Symbols 2:size=18:style=Italic,xft:Noto Sans Mono CJK SC:size=18:style=Italic,xft:Noto Color Emoji:size=18:style=Italic\007\033]712;xft:Hermit:size=18:style=Bold,xft:Noto Sans Symbols 2:size=18:style=Bold,xft:Noto Sans Mono CJK SC:size=18:style=Bold,xft:Noto Color Emoji:size=18:style=Bold\007\033]713;xft:Hermit:size=18:style=BoldItalic,xft:Noto Sans Symbols 2:size=18:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=18:style=BoldItalic,xft:Noto Color Emoji:size=18:style=BoldItalic\007
URxvt.keysym.M-C-7: command:\033]710;xft:Hermit:size=20:style=Regular,xft:Noto Sans Symbols 2:size=20:style=Regular,xft:Noto Sans Mono CJK SC:size=20:style=Regular,xft:Noto Color Emoji:size=20:style=Regular\007\033]711;xft:Hermit:size=20:style=Italic,xft:Noto Sans Symbols 2:size=20:style=Italic,xft:Noto Sans Mono CJK SC:size=20:style=Italic,xft:Noto Color Emoji:size=20:style=Italic\007\033]712;xft:Hermit:size=20:style=Bold,xft:Noto Sans Symbols 2:size=20:style=Bold,xft:Noto Sans Mono CJK SC:size=20:style=Bold,xft:Noto Color Emoji:size=20:style=Bold\007\033]713;xft:Hermit:size=20:style=BoldItalic,xft:Noto Sans Symbols 2:size=20:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=20:style=BoldItalic,xft:Noto Color Emoji:size=20:style=BoldItalic\007
URxvt.keysym.M-C-8: command:\033]710;xft:Hermit:size=22:style=Regular,xft:Noto Sans Symbols 2:size=22:style=Regular,xft:Noto Sans Mono CJK SC:size=22:style=Regular,xft:Noto Color Emoji:size=22:style=Regular\007\033]711;xft:Hermit:size=22:style=Italic,xft:Noto Sans Symbols 2:size=22:style=Italic,xft:Noto Sans Mono CJK SC:size=22:style=Italic,xft:Noto Color Emoji:size=22:style=Italic\007\033]712;xft:Hermit:size=22:style=Bold,xft:Noto Sans Symbols 2:size=22:style=Bold,xft:Noto Sans Mono CJK SC:size=22:style=Bold,xft:Noto Color Emoji:size=22:style=Bold\007\033]713;xft:Hermit:size=22:style=BoldItalic,xft:Noto Sans Symbols 2:size=22:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=22:style=BoldItalic,xft:Noto Color Emoji:size=22:style=BoldItalic\007
URxvt.keysym.M-C-9: command:\033]710;xft:Hermit:size=24:style=Regular,xft:Noto Sans Symbols 2:size=24:style=Regular,xft:Noto Sans Mono CJK SC:size=24:style=Regular,xft:Noto Color Emoji:size=24:style=Regular\007\033]711;xft:Hermit:size=24:style=Italic,xft:Noto Sans Symbols 2:size=24:style=Italic,xft:Noto Sans Mono CJK SC:size=24:style=Italic,xft:Noto Color Emoji:size=24:style=Italic\007\033]712;xft:Hermit:size=24:style=Bold,xft:Noto Sans Symbols 2:size=24:style=Bold,xft:Noto Sans Mono CJK SC:size=24:style=Bold,xft:Noto Color Emoji:size=24:style=Bold\007\033]713;xft:Hermit:size=24:style=BoldItalic,xft:Noto Sans Symbols 2:size=24:style=BoldItalic,xft:Noto Sans Mono CJK SC:size=24:style=BoldItalic,xft:Noto Color Emoji:size=24:style=BoldItalic\007
